<div class="container">
  <div class="row downn">
    <div class="col-lg-12">
      <p class="text-center fontt">Work</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top ibag img-fluid" src="
        .\assets\img\c.jpg" alt="Random numbers">
        <div class="card-body">
          <h3 class="card-title">Personal Website</h3>
          <p class="card-text">Hi every one! my name is Ezra Mekuria. I'm 21 years old .I was born in Hawassa. I'm 3rd years student in saint marry university in section C  I study computer science .
          </p>
          <a href="https://ezramtd6.github.io/groupweb/" target="_blank" class="btn btn-primary">View on Github</a>
        </div>
       </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top ibag img-fluid" src="
        .\assets\img\V.jpg" alt="Random numbers">
        <div class="card-body">
          <h3 class="card-title">Online Voting</h3>
          <p class="card-text">Hi every one! my name is Ezra Mekuria. I'm 21 years old .I was born in Hawassa. I'm 3rd years student in saint marry university in section C  I study computer science .
          </p>
          <a href="https://github.com/ezramtd6/FirstCalculator" target="_blank" class="btn btn-primary">View on Github</a>
        </div>
       </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top ibag img-fluid" src="
        .\assets\img\b.jpg" alt="Random numbers">
        <div class="card-body">
          <h3 class="card-title">Market Oriented building Locator and service detector</h3>
          <p class="card-text">Hi every one! my name is Ezra Mekuria. I'm 21 years old .I was born in Hawassa. I'm 3rd years student in saint marry university in section C  I study computer science .
          </p>
          <a href="https://abbetcustomer.herokuapp.com/" target="_blank" class="btn btn-primary">View on Github</a>
        </div>
       </div>
    </div>
  </div>
</div>
