<div class="container-fluid footer">
  <div class="row">
    <div class="nab">
      <a routerLink="">Home</a>
      <a routerLink="About">About</a>
      <a routerLink="Skills">Skills</a>
      <a routerLink="Work">Work</a>
      <a routerLink="Contact">Contact</a>
    </div>
  </div>
  <div class="row icons">
    <div>
      <a href="https://www.facebook.com/ezramtd6" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/ezramtd6/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://twitter.com/ezramtd6" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://t.me/ezramtd6" target="_blank"><i class="bi bi-telegram"></i></a>
      <a href="https://github.com/ezramtd6" target="_blank"><i class="bi bi-github"></i></a>
    </div>
  </div>
</div>
