<div class="container">
  <div class="row downn">
    <div class="col-lg-12">
      <p class="text-center fontt">Conatct us</p>
    </div>
    <div class="row">
      <form class="col-lg-12" method="POST">
        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" placeholder="First Name" class="form-control" id="usr" name="fname" required>
        </div>
        <div class="form-group aa">
          <label for="usr">Father Name:</label>
          <input type="text" class="form-control" id="usr" 
          name="lname" placeholder="Father Name" required>
        </div>
        <div class="form-group aa">
          <label for="pwd">Email:</label>
          <input type="email" placeholder="Email" class="form-control" id="pwd" name="memail" required>
        </div>
        <div class="form-group ab">
          <label for="pwd">Message:</label>
          <textarea class="form-control" name="" id="" cols="15" rows="5"></textarea>
        </div>
        <div class="form-group mt-2 text-center">
          <button id="button"  class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
