@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.downn{
  padding-top: 65px !important;
  margin-bottom: 50px;
}
.fontt{
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline;
  color: var(--first-color);
  font-family:'Poppins'
}
.aa{
  margin-top: 11px;
}
.ab{
  margin-top: 17px;
}