<div class="container">
  <div class="row downn">
    <div class="col-lg-12">
      <p class="text-center fontt">Skills</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="fontt1">Professional Skills</p>
        <div class="progress-title">
          <h3>HTML</h3>
            <div class="progress">
            <div class="progress-bar" style="width:80%;background: #ef2d56;"></div>
            <div class="progress-value">80%</div>
        </div>
    </div>
    <div class="progress-title">
        <h3>CSS</h3>
        <div class="progress">
        <div class="progress-bar" style="width:70%;background: #FF9900;"></div>
        <div class="progress-value">70%</div>
    </div>
</div>
<div class="progress-title">
    <h3>JAVASCRIPT</h3>
    <div class="progress">
    <div class="progress-bar" style="width:65%;background: #82B700;"></div>
    <div class="progress-value">65%</div>
</div>
</div>
<div class="progress-title">
    <h3>UI/UX</h3>
    <div class="progress">
    <div class="progress-bar" style="width:75%;background: #00EBDD;"></div>
    <div class="progress-value">75%</div>
</div>
</div>
<div class="progress-title">
    <h3>PHP</h3>
    <div class="progress">
    <div class="progress-bar" style="width:85%;background: #37598d;"></div>
    <div class="progress-value">85%</div>
</div>
</div>
          
    </div>
    </div>
</div>
