<div class="container">
  <div class="row downn">
    <div class="col-lg-12">
      <p class="text-center fontt">About</p>
    </div>
  </div>
  <div class="row downn1">
    <div class="col-lg-6">
      <div class="cs">
        <img src="\assets\img\ezra1.png" class="imge rounded" alt="noo">
      </div>
    </div>
    <div class="col-lg-4">
      <h4 class="fontt2">I'am Ezra</h4>
      <p class="fontt1">I am Graduated from St.Mary University. I persuing my carer in Computer Science feild. I have mastered in php and also front end web development languages. I’m always looking to collaborate with new people. If you have project idea in mind, please don’t hesitate to get in touch. You can either send me a direct message on social media or fill out the form below. I look forward to hearing from you.</p>
      <a href="\assets\file\my-cv.pdf" class="btn btn-primary" download>Download Cv</a>
    </div>
  </div>
</div>
