@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.downn{
  padding-top: 65px !important;
  margin-bottom: 50px;
}
.fontt{
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline;
  color: var(--first-color);
  font-family:'Poppins'
}
.imge{
  height: 210px !important;
  width: auto;
}
.downn1{
  margin-bottom: 179px;
}
.fontt1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.fontt2{
  font-family:'Times New Roman', Times, serif;
  font-style: bold;
}
.cs{
  text-align: center;
  padding-left: 10px;
  padding-bottom: 40px;
}